.x-ui-button{
	margin: 1px;
	padding: 1px;
	-webkit-user-select: none;
}
.x-ui-button.disabled{
	opacity: 0.3;
}
.x-ui-button,.x-ui-button .x-ui-icon,.x-ui-button .x-ui-label{
	float: left;	
}
.x-ui-button.button{
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EDEDED)); 
}