.tedui-merge .x-ui-icon{
background-position: -358px 0px;
}
.tedui-split .x-ui-icon{
background-position: -358px -20px;
}
.tedui-addrightcol .x-ui-icon{
background-position: -358px -40px;
}
.tedui-addleftcol .x-ui-icon{
background-position: -358px -60px;
}
.tedui-addtoprow .x-ui-icon{
background-position: -358px -80px;
}
.tedui-addbottomrow .x-ui-icon{
background-position: -358px -100px;
}
.tedui-deltable .x-ui-icon{
background-position: -358px -120px;
}
.tedui-delcol .x-ui-icon{
background-position: -358px -140px;
}
.tedui-delrow .x-ui-icon{
background-position: -358px -160px;
}
.tedui-bgcolor .x-ui-icon{
background-position: -358px -180px;
}
.tedui-bordercolor .x-ui-icon{
background-position: -358px -200px;
}
.tedui-slider .x-ui-icon{
background-position: -358px -220px;
}
.tedui-alignlefttop .x-ui-icon{
background-position: -378px 0px;
}
.tedui-alignleftcenter .x-ui-icon{
background-position: -378px -20px;
}
.tedui-alignleftbottom .x-ui-icon{
background-position: -378px -40px;
}
.tedui-aligncenterleft .x-ui-icon{
background-position: -378px -60px;
}
.tedui-aligncenter .x-ui-icon{
background-position: -378px -80px;
}
.tedui-aligncenterbottom .x-ui-icon{
background-position: -378px -100px;
}
.tedui-alignrighttop .x-ui-icon{
background-position: -378px -120px;
}
.tedui-alignrightcenter .x-ui-icon{
background-position: -378px -140px;
}
.tedui-alignrightbottom .x-ui-icon{
background-position: -378px -160px;
}
.tedui-height .x-ui-icon{
background-position: -378px -180px;
}
.tedui-width .x-ui-icon{
background-position: -378px -200px;
}
.tedui-selectedcol .x-ui-icon{
background-position: -398px 0px;
}
.tedui-selectedrow .x-ui-icon{
background-position: -398px -20px;
}
.tedui-selectedtable .x-ui-icon{
background-position: -398px -40px;
}