.x-ui-date .x-ui-text-box{
	cursor: default;
}

.x-ui-date .x-ui-date-icon{
	background-position: -420px -0px;
	display: table-cell;
}

.x-ui-datepicker-popu .x-ui-calendar{
	width: 200px;
	height: 230px;
}