.x-ui-dd-resize-box{
	position: absolute;
	display: none;
	z-index: 100000;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}
.x-ui-dd-resize-box a{
	display: inline-block;
}
.x-ui-dd-resize-box .bg{
	outline: 1px dashed #000;
	cursor : move;
	min-height: 50px;
	min-width: 50px;
	font-size: 0px;
}
.x-ui-dd-resize-box .nw,.x-ui-dd-resize-box .ne,.x-ui-dd-resize-box .sw,.x-ui-dd-resize-box .se,.x-ui-dd-resize-box .n,.x-ui-dd-resize-box .s,.x-ui-dd-resize-box .w,.x-ui-dd-resize-box .e{
	background-color: #FFFFFF;
	width: 8px;
	height: 8px;
	position: absolute;
	z-index: 99999;
	outline: 1px solid #000;
}
.x-ui-dd-resize-box .nw,.x-ui-dd-resize-box .n,.x-ui-dd-resize-box .ne{
	top: -5px;
}
.x-ui-dd-resize-box .nw,.x-ui-dd-resize-box .sw,.x-ui-dd-resize-box .w{
	left: -5px;
}
.x-ui-dd-resize-box .ne,.x-ui-dd-resize-box .se,.x-ui-dd-resize-box .e{
	right: -5px;
}
.x-ui-dd-resize-box .sw,.x-ui-dd-resize-box .s,.x-ui-dd-resize-box .se{
	bottom: -5px;
}
.x-ui-dd-resize-box .w,.x-ui-dd-resize-box .e{
	top: 50%;
}
.x-ui-dd-resize-box .n,.x-ui-dd-resize-box .s{
	left: 50%;
}
.x-ui-dd-resize-box .w,.x-ui-dd-resize-box .e,.x-ui-dd-resize-w,.x-ui-dd-resize-w *,.x-ui-dd-resize-e,.x-ui-dd-resize-e *,.x-ui-dd-resize-w .x-ui-dd-resize-box div,.x-ui-dd-resize-e .x-ui-dd-resize-box div{
	cursor:w-resize;
}
.x-ui-dd-resize-box .nw,.x-ui-dd-resize-nw,.x-ui-dd-resize-nw *,.x-ui-dd-resize-nw .x-ui-dd-resize-box div{
	cursor:nw-resize;
}
.x-ui-dd-resize-box .n,.x-ui-dd-resize-box .s,.x-ui-dd-resize-n,.x-ui-dd-resize-n *,.x-ui-dd-resize-s,.x-ui-dd-resize-s *,.x-ui-dd-resize-s .x-ui-dd-resize-box div,.x-ui-dd-resize-n .x-ui-dd-resize-box div{
	cursor:n-resize;
}
.x-ui-dd-resize-box .ne,.x-ui-dd-resize-ne,.x-ui-dd-resize-ne *,.x-ui-dd-resize-ne .x-ui-dd-resize-box div{
	cursor:ne-resize;
}
.x-ui-dd-resize-box .sw,.x-ui-dd-resize-sw,.x-ui-dd-resize-sw *,.x-ui-dd-resize-sw .x-ui-dd-resize-box div{
	cursor:sw-resize;
}
.x-ui-dd-resize-box .se,.x-ui-dd-resize-se,.x-ui-dd-resize-se *,.x-ui-dd-resize-se .x-ui-dd-resize-box div{
	cursor:se-resize;
}
.x-ui-dd-drag-body,.x-ui-dd-drag-body *,.x-ui-dd-resize-body,.x-ui-dd-resize-body *,.x-ui-dd-sort-body,.x-ui-dd-sort-body *,.x-ui-dd-replace-body,.x-ui-dd-replace-body *{
	-webkit-user-select: none;
}
.x-ui-dd-drag-body,.x-ui-dd-drag-body *,.x-ui-dd-sort-body,.x-ui-dd-sort-body *,.x-ui-dd-replace-body,.x-ui-dd-replace-body *{
	cursor:default;
}
.x-ui-dd-sort-drag .x-ui-dd-target{
	visibility:hidden;
}
.x-ui-dd-replace-box{
	position: absolute;
	display: none;
	opacity: 0.7;
	z-index: 100000;
	background-color: #DDD;
}