.x-ui-form-box{
	color: #000;
}
.x-ui-form-box .x-ui-textfield,.x-ui-form-box .x-ui-textfield input{
	height: 24px;
}
.x-ui-form-box .x-ui-form-item .x-ui-label,.x-ui-form-box .x-ui-form-label {
	line-height: 24px;
	width: 60px;
	height: 40px;
}
.x-ui-form-box .x-ui-form-item td{
	padding: 0px;
}
.x-ui-form-box .x-ui-form-item .x-ui-label{
	height: 30px;
	font-size: 12px;
	font-family: 宋体;
	text-align: right;
}
.x-ui-form-box .x-ui-form-item  .x-ui-label-padding,.x-ui-form-box .x-ui-form-label-padding {
	width: 8px;
	font-size: 1px;
}
.x-ui-form-box .disabled .x-ui-item-field{
	opacity: 0.3;
}
.x-ui-form-box .x-ui-text .x-ui-invalid-icon{
	background-position: -422px -58px;
}
.x-ui-form-box .x-ui-text .x-ui-clear-icon{
	background-position: -420px -78px;
}
.x-ui-form-box .x-ui-date .x-ui-date-icon {
	background-position: -420px 1px;
}
.x-ui-form-box .x-ui-text-box .x-ui-icon{
	width: 18px;
}
.x-ui-form-box .x-ui-button-box{

}
.x-ui-form-box .x-ui-button-box .x-ui-button,.x-ui-form-button{
	font-size: 12px;
	cursor: pointer;
	border: 1px solid #DDD;
	padding: 5px 20px;
	border-radius: 3px;
	display: inline-block;
	color: #3C3C3C;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EFEFEF));
	margin: 0px 10px;
}
.x-ui-form-button{
	margin:0;
}
.x-ui-form-box .x-ui-button-box .x-ui-button .x-ui-label,.x-ui-form-button .x-ui-label{
	float: none;
}

.x-ui-button-box .x-ui-button.hover,.x-ui-form-button:hover{
	box-shadow: 0px 1px 2px #DBDBDB;
	border-bottom-color: #CECECE;
}
.x-ui-form-box .x-ui-button-box .x-ui-button:active,.x-ui-form-button:active{
	background-image: -webkit-linear-gradient(top,#E0E0E0,#EEE);
	border-color: #CCC;
	box-shadow:none;
}
.x-ui-form-box .x-ui-form-table{
	width:100%;
}
