.x-ui-form-box{
	color: #000;
}
.x-ui-form-box .x-ui-textfield,.x-ui-form-box .x-ui-textfield input{
	height: 24px;
}
.x-ui-form-box .x-ui-form-item .x-ui-label,.x-ui-form-box .x-ui-form-label {
	line-height: 24px;
	width: 60px;
	height: 40px;
}
.x-ui-form-box .x-ui-form-item td{
	padding: 0px;
}
.x-ui-form-box .x-ui-form-item .x-ui-label{
	height: 30px;
	font-size: 12px;
	font-family: SimSun;
	text-align: right;
}
.x-ui-form-box .x-ui-form-item  .x-ui-label-padding,.x-ui-form-box .x-ui-form-label-padding {
	width: 8px;
	font-size: 1px;
}
.x-ui-form-box .disabled .x-ui-item-field{
	opacity: 0.3;
}
.x-ui-form-box .x-ui-text .x-ui-invalid-icon{
	background-position: -422px -58px;
}
.x-ui-form-box .x-ui-text .x-ui-clear-icon{
	background-position: -420px -78px;
}
.x-ui-form-box .x-ui-date .x-ui-date-icon {
	background-position: -420px 1px;
}
.x-ui-form-box .x-ui-text-box .x-ui-icon{
	width: 18px;
}
.x-ui-form-button{
	margin:0;
}
.x-ui-form-box .x-ui-form-table{
	width:100%;
}
