.x-ui-form{
	color: #000;
}
.x-ui-form .x-ui-textfield,.x-ui-form .x-ui-textfield input{
	height: 24px;
}
.x-ui-form .x-ui-form-item .x-ui-label,.x-ui-form .x-ui-form-label {
	line-height: 24px;
	width: 60px;
}
.x-ui-form .x-ui-form-item td{
	padding: 0px;
}
.x-ui-form .x-ui-form-item .x-ui-label{
	height: 30px;
	font-size: 12px;
	font-family: 宋体;
	text-align: right;
}
.x-ui-form .x-ui-form-item  .x-ui-label-padding,.x-ui-form .x-ui-form-label-padding {
	width: 8px;
	font-size: 1px;
}
.x-ui-form .disabled .x-ui-item-field{
	opacity: 0.3;
}

.x-ui-form .x-ui-text .x-ui-invalid-icon{
	background-position: -422px -58px;
}
.x-ui-form .x-ui-text .x-ui-clear-icon{
	background-position: -420px -78px;
}
.x-ui-form .x-ui-date .x-ui-date-icon {
	background-position: -420px 1px;
}
.x-ui-form .x-ui-text-box .x-ui-icon{
	width: 18px;
}
.x-ui-button-box .x-ui-button {
	border: 1px solid #DDD;
	padding: 5px 15px;
	border-radius: 3px;
	font: normal 14px/18px helvetica, arial, verdana, sans-serif;
	margin: 0px 5px;
	box-shadow: none;
}
.x-ui-button-box .x-ui-button.hover{
	box-shadow: 0px 1px 2px #DBDBDB;
	border-bottom-color: #CECECE;
}
.x-ui-form table{
	width:100%;
}
