.x-ui-menu-popu{
	border: 1px solid #CCC;
}
.x-ui-menu{
	list-style: none;
	text-decoration: none;
	margin: 5px;
	padding: 0px;
	font-size: 12px;
}
.x-ui-menu-item{
	margin: 0px;
	padding: 1px;
	line-height: 22px;
	height: 22px;
}
.x-ui-menu-item.hover{
	background-color: #D5E1F2;
	padding: 0;
	border: 1px solid #A3BDE3;
}
.x-ui-menu-separator {
	height: 1px;
	line-height: 1px;
	overflow: hidden;
	background: #D3D3D3;
	margin: 3px 0;
}

.x-ui-menu-item .x-ui-icon{
	margin-left: 3px;
	float: left;
}

.x-ui-menu-item .x-ui-label{
	display: inline-block;
	vertical-align: top;
	margin: 0px 5px;
}
.x-ui-menu-item .x-ui-arrow-icon{
	float: right;
	background-position: -420px -40px;
	width: 20px;
	height: 20px;
}