.x-ui-popu{
	position: absolute;
	margin: 2px 0px 4px 0px;
	padding: 0px;
	background-color: #FFF;
	box-shadow: 1px 1px 3px #DDD;
	display: none;
	z-index: 300000;
	top: -1000px;
}
.x-ui-popu-loading{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.05);
	z-index: 100000;
	-webkit-user-select: none;
}
.bubbling-g-box {
	text-align: center;
	width: 400px;
	height: 200px;
	margin: 15% auto;
	overflow: hidden;
}
.bubbling-g-box span {
	display: inline-block;
	vertical-align: middle;
	width: 5%;
	height: 10%;
	margin-top: 30%;
	background-color: #6CF;
	-webkit-border-radius: 50%;
	-webkit-animation: bubbling_G 1.3s infinite alternate;
}
.bubbling-g-box .bubbling-g-1 {
	-webkit-animation-delay: 0s;
}

.bubbling-g-box .bubbling-g-2 {
	-webkit-animation-delay: 0.39s;
}

.bubbling-g-box .bubbling-g-3 {
	-webkit-animation-delay: 0.78s;
}

@-webkit-keyframes bubbling_G {
	0% {
		width: 5%;
		height: 10%;
		opacity: 1;
		-webkit-transform: translateY(0);
	}

	100% {
		width: 15%;
		height: 30%;
		opacity: 0;
		-webkit-transform: translateY(-30px);
	}
}