.x-ui-qtip-box{
	position: absolute;
	z-index: 999999;
	opacity: 0.9;
	font-size:12px;
	line-height: 14px;
}
.x-ui-qtip-content{
	color: #DDD;
	padding: 8px;
	overflow: hidden;
	border-radius: 5px;
	background-color: #FFF;
	box-shadow: 0px 0px 3px 1px #CCC;
	min-height: 30px;
	min-width: 100px;
}
.x-ui-qtip-box.qit-autosize .x-ui-qtip-content{
	min-width: 0px;
}
.x-ui-qtip-box.qit-autosize.bottom {
	margin-top: -8px;
}
.x-ui-qtip-box.qit-autosize.right {
	margin-left: -10px;
}


.x-ui-qtip-content span{
	/*line-height: 50px;*/
}

.x-ui-qtip-arrow-box .x-ui-icon {
	position: absolute;
	width: 20px;
	height: 20px;
/*	display: none;*/
}
.x-ui-qtip-arrow-box .top{
	background-position: -440px -140px;
	left: 50px;
	top: -15px;
}
.x-ui-qtip-arrow-box .bottom{
	background-position: -420px -140px;
	bottom: -15px;
	left: 50px;
}
.x-ui-qtip-arrow-box .left{
	background-position: -420px -160px;
	left: -15px;
	top: -30%;
}
.x-ui-qtip-arrow-box .right{
	background-position: -440px -160px;
	right: -15px;
	top: -30%;
}
.x-ui-qtip-box.easeout{
	opacity: 0;
	-webkit-animation: animations 1.1s ease-out;
}
@-webkit-keyframes animations{
	0%{opacity:0.9;}
	100%{opacity:0;}
}



/*++++++++++++++++++++++++++++++++++animation++++++++++++++++++++++++++++++++++*/
.fadeInDown-animation{
-webkit-animation:fadeInDown 1s .2s ease both;
}
@-webkit-keyframes fadeInDown{
0%{opacity:0;
-webkit-transform:translateY(-20px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
/*----------------------------------animation----------------------------------*/