.x-ui-split-button{
	float:left;
	margin: 1px;
	padding: 1px;
}
.x-ui-split-button .x-ui-button {
	margin: 0px;
	padding: 0px;
}
.x-ui-split-button.hover{
	background-color: #D5E1F2;
	padding: 0;
	border: 1px solid #A3BDE3;
}
.x-ui-arrow-button{
	float:left;
	padding-left: 1px;
}
.x-ui-arrow-button.hover{
	padding-left: 0px;
	border-left: 1px solid #A3BDE3;
}
.x-ui-arrow-button .x-ui-arrow-icon{
	background-position: -422px -20px;
	width: 10px;
	height: 20px;
}
