.x-ui-split-button{
	float:left;
	margin: 1px;
	padding: 1px;
}
.x-ui-split-button .x-ui-button {
	margin: 0px;
	padding: 0px;
}
.x-ui-split-button.selected .x-ui-arrow-button.hover{
	border-color:#F79B39;
}
.x-ui-split-button.disabled{
	opacity: 0.3;
}
.x-ui-arrow-button{
	float:left;
	padding-left: 1px;
}
.x-ui-arrow-button.hover{
	padding-left: 0px;
	border-left: 1px solid #5FA1FF;
}
.x-ui-arrow-button .x-ui-arrow-icon{
	background-position: -364px -280px;
	width: 10px;
	height: 20px;
}
