.x-ui-tab-panel{

}
.x-ui-tab-panel .x-ui-tabbar-box{
	font-size: 12px;
	overflow: hidden;
	cursor: default;
	padding: 2px 0px;
}
.x-ui-tab-panel .x-ui-tabbar-box .x-ui-tabbar-tag:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-left: 0px;
}
.x-ui-tab-panel .x-ui-tabbar-box .x-ui-tabbar-tag:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.x-ui-tab-panel .x-ui-tabbar-box .x-ui-tabbar-tag{
	float: left;
	padding: 6px;
	font-size: 12px;
	margin-left: -1px;
	border: 1px solid #DDD;
	min-width: 80px;
	max-width: 100px;
	color: #777;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F1F1F1));
}
.x-ui-tab-panel .x-ui-tabbar-box .x-ui-tabbar-tag:hover{
	box-shadow: 0px 1px 2px #DBDBDB;
	/*border-bottom-color: #CECECE;*/
	border-color: #CECECE;
}
.x-ui-tab-panel .x-ui-tabbar-box .x-ui-tabbar-tag.selected{
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	background-color: #EEE;
	background-image: -webkit-linear-gradient(top,#EEE,#E0E0E0);
	border-color: #CCC;
}

.x-ui-tab-panel .x-ui-tabview-box{

}
.x-ui-tab-panel .x-ui-tabview{
	display: none;
}
.x-ui-tab-panel .x-ui-tabview iframe{
	width: 100%;
	height: 100%;
	border: none;
}
.x-ui-tab-panel .x-ui-floatbar-box{
	float: right;
	overflow: hidden;
	padding: 2px 0px;
}

.x-ui-tab-panel .x-ui-floatbar-box .x-ui-button{
	border: 1px solid #DDD;
	border-radius: 3px;
	margin: 0px 3px;
	padding: 3px;
}

.x-ui-tab-panel .x-ui-floatbar-box .x-ui-button:hover {
	box-shadow: 0px 1px 2px #DBDBDB;
	border-bottom-color: #CECECE;
}
.x-ui-tab-panel .x-ui-floatbar-box .x-ui-textfield input{
	height: 20px;
}

.x-ui-tab-panel.line{

}