.x-ui-tab-panel{

}
.x-ui-tabbar-box{
	font-size: 12px;
	display: inline-block;
	cursor: default;
}
/*
.x-ui-tabbar-box .x-ui-tabbar-tag:first-child {
	border-left: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.x-ui-tabbar-box .x-ui-tabbar-tag:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
*/
.x-ui-tabbar-tag{
	float: left;
}

.x-ui-tabview-box{
}
.x-ui-tabview{
	display: none;
}
.x-ui-tabview iframe{
	width: 100%;
	height: 100%;
	border: none;
}

.x-ui-tab-panel {

}