.x-ui-toolbar-box{
	position: absolute;
	z-index: 10000;
	top: 10px;
	left: 10px;
	box-shadow: 1px 1px 3px #DDD;
	border: 1px solid #CFCFCF;
	background-color: #FFF;
	border-radius: 5px;
	display: block;
}
.x-ui-toolbar-button-box,.x-ui-toolbar-popup-box{
	font-size:12px;
	font-family:宋体;
	-webkit-user-select: none;
}
.x-ui-toolbar-button-box{
	float: left;
	margin: 5px;
	overflow: hidden;
}
.x-ui-breakline{
	clear: both;
}
.x-ui-toolbar-button-box .x-ui-separator{
	float: left;
	width: 2px;
	height: 14px;
	border-right: 1px solid #FFF;
	margin: 5px 2px 5px 3px;
	background-color: #C9C4C4;
}

.x-ui-toolbar-button-box .x-ui-text .x-ui-label{
	width: 30px;
}
.x-ui-toolbar-button-box .x-ui-text .x-ui-label-padding{
	display: none;
}
.x-ui-toolbar-button-box .x-ui-text{
	margin: 1px 2px;
}

.x-ui-toolbar-box .x-ui-button.hover,.x-ui-toolbar-box  .x-ui-split-button.hover,.x-ui-toolbar-box  .x-ui-button.selected,.x-ui-toolbar-box  .x-ui-split-button.selected {
	padding: 0px;
}
.x-ui-toolbar-box .x-ui-text.hover .x-ui-text-box,.x-ui-toolbar-box .x-ui-button.hover,.x-ui-toolbar-box  .x-ui-split-button.hover,.x-ui-toolbar-box .x-ui-checkbox-group.hover .x-ui-icon,.x-ui-toolbar-box .x-ui-radio-group.hover .x-ui-icon {
	border: 1px solid #5FA1FF;
	box-shadow: 0 0 5px #A5C8FF;
}