.x-ui-tree-box{

}
.x-ui-tree-list{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}
.x-ui-tree-list td{
	padding:0px;
}
.x-ui-tree-list .x-ui-tree-node{
	line-height: 25px;
	overflow: hidden;
	font-size: 12px;
	font-family: tahoma, arial, 'Hiragino Sans GB', 宋体, sans-serif;
}
.x-ui-tree-list .x-ui-tree-node-col{
	-webkit-user-select: none;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
}
.x-ui-tree-list .x-ui-tree-node.hover,.x-ui-tree-list .x-ui-tree-node:hover{
    background-color: #F4FAFF;
}
.x-ui-tree-list .x-ui-tree-node.active{
    background-color: #E0F2FF;
}
.x-ui-tree-list .x-ui-tree-node div{
	float: left;
}
.x-ui-tree-list .x-ui-tree-node div.x-ui-icon{
	width: 20px;
	height: 20px;
	margin-top: 3px;
}
.x-ui-tree-list .x-ui-tree-node .x-ui-tree-arrow{
	background-position: -458px -80px;
	cursor: pointer;
}
.x-ui-tree-list .x-ui-tree-node.expand .x-ui-tree-arrow{
	background-position: -458px -60px;
	cursor: pointer;
}
.x-ui-tree-list .x-ui-tree-node .x-ui-tree-parent{
	background-position: -460px -0px;
}
.x-ui-tree-list .x-ui-tree-node.expand .x-ui-tree-parent{
	background-position: -460px -40px;
}
.x-ui-tree-list .x-ui-tree-node-col .x-ui-tree-leaf{
	background-position: -460px -20px;
}
.x-ui-tree-list .x-ui-tree-node-col .x-ui-tree-node-label{
	margin-left: 5px;
	color: #555;
}