.border-box * {
	box-sizing: border-box;
}
.x-ui-icon,.x-ui-arrow-icon,.x-ui-clear-icon,.x-ui-del-icon ,.x-ui-invalid-icon{
	background-repeat: no-repeat;
	background-image: url(/_/images/allicon.png);
	background-position: 100px;
}
div.x-ui-icon {
	width: 20px;
	height: 20px;
}
.x-ui-label {
	line-height: 20px;
}
.hide{
	display: none;
}

.x-ui-text.selected .x-ui-text-box,.x-ui-button.selected,
.x-ui-split-button.selected,.x-ui-checkbox-group.selected .x-ui-icon,.x-ui-radio-group.selected .x-ui-icon{
	border: 1px solid #F79B39;
	box-shadow: 0 0 5px #F9DF7D;
}


.x-ui-del-icon .x-ui-icon{
	background-position: -400px -140px;
}
.x-ui-del-icon{
	position: absolute;
	z-index: 990000;
	display: none;
	margin-top: -10px;
	margin-left: -10px;
	cursor: pointer;
	opacity: 0.8;
}
.x-ui-del-icon:hover{
	opacity: 1;
}
.x-ui-text-editor{
	position: absolute;
	z-index: 990000;
	display: none;
}
.x-ui-text-editor input{
	margin:0px;
	border:none;
	outline:none;
	padding:0px;
}
.easeout{
	opacity: 0;
	-webkit-animation: animations 1s ease-out;
}
@-webkit-keyframes animations{
	0%{opacity:1;}
	100%{opacity:0;}
}