body *,.border-box * {
	box-sizing: border-box;
}
.x-ui-icon,.x-ui-arrow-icon,.x-ui-clear-icon,.x-ui-del-icon ,.x-ui-invalid-icon{
	background-repeat: no-repeat;
	background-image: url(/oD/images/all_icon.png);
}
div.x-ui-icon {
	width: 20px;
	height: 20px;
}
.x-ui-label {
	line-height: 20px;
}
.hide{
	display: none;
}

.x-ui-text.hover .x-ui-text-box,.x-ui-button.hover,
.x-ui-split-button.hover,.x-ui-checkbox-group.hover .x-ui-icon,.x-ui-radio-group.hover .x-ui-icon{
	border: 1px solid #5FA1FF;
	box-shadow: 0 0 5px #A5C8FF;
}
.x-ui-text.selected .x-ui-text-box,.x-ui-button.selected,
.x-ui-split-button.selected,.x-ui-checkbox-group.selected .x-ui-icon,.x-ui-radio-group.selected .x-ui-icon{
	border: 1px solid #F79B39;
	box-shadow: 0 0 5px #F9DF7D;
}
.x-ui-button.hover,.x-ui-split-button.hover,.x-ui-button.selected,.x-ui-split-button.selected{
	padding: 0px;
}