.box{
	position: absolute;
	-webkit-user-select: none;
	z-index: 100000;
	width:500px;
	height:500px;
	border: 1px solid #B1B1B1;
	right: 10px;
}

.box1{
	position: absolute;
	width:100px;
	height:100px;
	left:10px;
	top:10px;
	border: 1px solid #00B26F;
}
.box2{
	position: absolute;
	width:100px;
	height:100px;
	top:100px;
	left:100px;
	background-color: #EEE;
}

.list{
	-webkit-user-select: none;
	border: 1px solid #B1B1B1;
	overflow: hidden;
	width:650px;
	position: absolute;
	top: 900px;
	left: 100px;
}
.item{
	float:left;
	width : 100px;
	height : 100px;
	background-color: #F3F3F3;
	margin: 0px 5px 5px 0px;
	text-align: center;
	line-height: 100px;
}
.icon-list{
	display: none;
}