.x-ui-teditor .merge .x-ui-icon{
	background-position: -358px 0px;
}
.x-ui-teditor .split .x-ui-icon{
	background-position: -358px -20px;
}
.x-ui-teditor .addrightcol .x-ui-icon{
	background-position: -358px -40px;
}
.x-ui-teditor .addleftcol .x-ui-icon{
	background-position: -358px -60px;
}
.x-ui-teditor .addtoprow .x-ui-icon{
	background-position: -358px -80px;
}
.x-ui-teditor .addbottomrow .x-ui-icon{
	background-position: -358px -100px;
}
.x-ui-teditor .deltable .x-ui-icon{
	background-position: -358px -120px;
}
.x-ui-teditor .delcol .x-ui-icon{
	background-position: -358px -140px;
}
.x-ui-teditor .delrow .x-ui-icon{
	background-position: -358px -160px;
}
.x-ui-teditor .bgcolor .x-ui-icon{
	background-position: -358px -180px;
}
.x-ui-teditor .bordercolor .x-ui-icon{
	background-position: -358px -200px;
}
.x-ui-teditor .slider .x-ui-icon{
	background-position: -358px -220px;
}
.x-ui-teditor .alignlefttop .x-ui-icon{
	background-position: -378px 0px;
}
.x-ui-teditor .alignleftcenter .x-ui-icon{
	background-position: -378px -20px;
}
.x-ui-teditor .alignleftbottom .x-ui-icon{
	background-position: -378px -40px;
}
.x-ui-teditor .aligncenterleft .x-ui-icon{
	background-position: -378px -60px;
}
.x-ui-teditor .aligncenter .x-ui-icon{
	background-position: -378px -80px;
}
.x-ui-teditor .aligncenterbottom .x-ui-icon{
	background-position: -378px -100px;
}
.x-ui-teditor .alignrighttop .x-ui-icon{
	background-position: -378px -120px;
}
.x-ui-teditor .alignrightcenter .x-ui-icon{
	background-position: -378px -140px;
}
.x-ui-teditor .alignrightbottom .x-ui-icon{
	background-position: -378px -160px;
}
.x-ui-teditor .height .x-ui-icon{
	background-position: -378px -180px;
}
.x-ui-teditor .width .x-ui-icon{
	background-position: -378px -200px;
}
.x-ui-teditor .selectedcol .x-ui-icon{
	background-position: -398px 0px;
}
.x-ui-teditor .selectedrow .x-ui-icon{
	background-position: -398px -20px;
}
.x-ui-teditor .selectedtable .x-ui-icon{
	background-position: -398px -40px;
}